//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindbase';
@import 'fa';

$panel-sep-color: #aaa;
$table-sep-color: #dcdcdc;

:root {
    --color-focused: #ffffdf;
    --color-hovered: #f6f6f6;
    --table-sep-color: #{$table-sep-color};
    --color-icon-hover: rgb(41, 128, 185);
    --color-regexp: #0048ff;
}

html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    background: #f8f8f8;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    line-height: inherit;
    margin: 0;
}

input, button, select, textarea {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

select {
    margin: 0;
    display: inline;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 0 2px;
    background: #ddd;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    color: #555;
}

.ff-mono {
    font-family: 'Noto Sans Mono', monospace;
}

.x-container {
    width: 98vw;
    margin: 0 auto;
    max-width: 2500px;
}

.x-table.x-journal input, .x-table.x-journal textarea {
    font-size: 10px;
    resize: none;
    box-sizing: border-box;
    padding: 1px 2px;
    border: 0; //1px solid transparent;
    //border-radius: 1px;
    outline: 0;
    background: transparent;

    &:hover {
        //background: #fafafa;
    }

    &:focus {
        //border: 1px solid rgba(0, 0, 0, 0.15);
        //background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/stripes-light.png");
    }
}

.textarea-wrapper {
    width: 100%;
    height: 100%;
    cursor: text;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/stripes-light.png");
        opacity: 0;
        z-index: 1;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.03);
    }
    &.hasFocus:before {
        opacity: 1;
        background-color: #ffffD6;
    }

    textarea {
        width: 100%;
        position: relative;
        z-index: 2;
        //height: 100%;
    }
}

.btn {
    background-color: #ddd;
    background-image: none;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-sizing: border-box;
    color: rgba(32, 32, 32, 0.7);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    //letter-spacing: 0.4px;
    line-height: 18px;
    outline: 0;
    overflow: hidden;
    padding: 2px 7px;
    position: relative;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    transition: all 0.1s linear 0s;
    user-select: none;
    white-space: nowrap;

    border: transparent;
    box-shadow: inset 0 0 0 1px rgba(47, 56, 66, 0.25), 0 0 1px rgba(47, 56, 66, 0.3);

    .dark {
        background-color: rgb(47 56 66);
        color: #fff;
    }

    &:hover, &:focus {
        filter: brightness(0.9) saturate(1.2);
        color: rgba(32, 32, 32, 0.95);
    }

    .btn-icon + .btn-label {
        margin-left: 0.15rem;
    }
    &.btn-ic-only {
        width: 28px;
        padding: 0;
        text-align: center;
    }
    .btn-icon i {
        vertical-align: 0;
        font-size: 11px;
    }

    &.btn.sm {
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: 0.25px;
        line-height: 20px;
        padding: 1px 7px;

        .btn-icon + .btn-label {
            margin-left: 0.18rem;
        }
        .btn-icon i {
            vertical-align: 0;
        }
        &.btn-ic-only {
            width: 22px;
            padding: 0;
            text-align: center;
        }
    }

    //.fa, .fa-brands, .fa-classic, .fa-duotone, .fa-light, .fa-regular, .fa-sharp, .fa-sharp-solid, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fasl, .fasr, .fass, .fat {
    //    vertical-align: middle;
    //}
}

// JOURNAL TABLE

.x-table.x-journal {
    width: 100%;
    margin: 0 auto;
    font-size: 0.75rem;
    overflow: visible;

    // Filas
    & .x-row {
        background-color: #fdfdfd;
        border-bottom: 1px solid $table-sep-color;
        display: flex;
        max-height: 70px;
        flex-flow: row nowrap;
        &:hover {
            background-color: #fafafa;
        }
    }

    // Celdas
    & .x-cell {
        box-sizing: border-box;
        min-width: 0;

        &:nth-child(1) { flex: 0 0 95px; }
        &:nth-child(2) { flex: 180 0 0px; }
        &:nth-child(3) { flex: 210 0 0px; }
        &:nth-child(4) { flex: 90 0 0px; }
        &:nth-child(5) { flex: 80 0 0px; }
        &:nth-child(6) { flex: 0 0 112px; }
        &:nth-child(7) { flex: 0 0 112px; }
        &:nth-child(8) { flex: 0 0 20px; }
    }
    & .x-cell:not(:last-child) {
        border-right: 1px solid $table-sep-color;
    }

    // Cabeceras
    & .x-headers {
        position: sticky;
        top: 0;
        z-index: 10;

        .x-header-main {
            backdrop-filter: blur(3px);
            background-color: rgba(#ccc, 0.8);
            & > * {
                border-color: rgba(#000, 0.12);
            }
        }
        .x-header-quickfilters {
            backdrop-filter: blur(3px);
            background-color: rgba(#DCDCDC, 0.8);
            & > * {
                border-color: rgba(#000, 0.12);
            }
        }
    }

    & .x-row.x-header {
        border-bottom: 1px solid rgba(#000, 0.12);

        & > * {
            color: #333;
            vertical-align: top;
            border-top: 0;
        }
        & > div:not(:last-child) {
            border-right: 1px solid inherit;
        }

        .x-label {
            padding: 2px 4px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 600;
            width: 100%;
            box-sizing: border-box;
        }
    }

    // Celdas de filtros
    .x-cell-filter .x-cell-wrapper {
        display: flex;
        column-gap: 2px;
        align-items: center;
        padding: 0 4px;
        box-sizing: border-box;
    }

}



// ENTITIES
.x-entities-completions-wrapper {
    position: relative;
}

.x-entities-completions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    padding: 2px 0;

    .x-entity-completion {
        padding: 2px 4px;
        cursor: pointer;

        &:hover {
            background: #f5f5f5;
        }
    }
}

// SIDEBAR
.x-sidebar .x-sb-header {
    background: #444;
    padding: 5px 8px;
    font-size: 15px;
    color: #ddd;
    i {
        margin-right: 2px;
    }
}

.x-sb-menu {
    flex: 0 0 40px;
    background: #f7f7f7;
    z-index: 100;
    border-left: 1px solid #aaa;

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    button {
        width: 100%;
        height: 40px;
        color: #333;
        margin-bottom: 1px;
        border: 0;
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        transition: 0.08s linear 0s background-color;
        &:hover {
            background-color: rgba(0, 0, 0, 0.06);
        }
    }
}

.x-sb-floating {
    background: #f7f7f7;
    position: absolute;
    right: 41px;
    top: 0;
    bottom: 0;
    width: 400px;
    z-index: 50;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-left: 1px solid #aaa;
}

.x-sidebar .x-sb-section {
    overflow: auto;
    height: 100%;
}



.x-sidebar .x-no-selection {
    font-size: 0.85rem;
    color: #666;
    pointer-events: none;
}
.x-sidebar .x-form {
    padding: 10px;
}
.x-sidebar .x-form label {
    display: block;
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: 5px;
}

.x-sidebar {

    .x-list {
        background: #fff;
        height: 120px;
        overflow: auto;
        font-weight: 400;
        font-size: 12.5px;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid rgba(#000, 0.2);

        .x-list-item {
            list-style: none;
            padding: 0 4px;
            margin: 0;
            display: flex;
            align-items: center;
            &:hover {
                background: #eaf3f7;
            }

            button:not(.x-ic) {
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
                text-align: left;
                flex: 1 0 0;
                i {
                    margin-right: 4px;
                    color: var(--color-icon-hover);
                    display: inline-block;
                    flex: 0 0 auto;
                }
            }
        }
    }

    .x-form {

        .x-id {
            color: #888;
            font-weight: 500;
            font-size: 15px;
        }
    }


}